.button {
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: var(--font-bold);
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  border-radius: 4rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;

  & span {
    background-color: var(--first-color);
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: transform 0.4s;
  }
  &:hover span {
    transform: translateX(0.15rem) rotate(-30deg);
  }
  &__link {
    color: var(--white-color);
    font-weight: var(--font-bold);
    text-decoration: underline;
    transition: color 0.4s;

    &:hover {
      color: var(--first-color);
    }
  }
}
