.shop {
  &__container {
    padding-top: 6.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 1.5rem;
  }
  &__card {
    position: relative;
    background: var(--gradient-card);
    padding: 5.75rem 0.75rem 1.25rem 0.75rem;
    border: 2px solid var(--first-color-light);
    border-radius: 1rem;
  }
  &__img {
    position: absolute;
    top: -4.5rem;
    left: 0;
    right: 0;
    width: 130px;
    margin: 0 auto;
    transition: transform 0.4s;
  }
  &__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.5rem;
  }
  &__price {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  &__button {
    position: absolute;
    right: 0.75rem;
    bottom: 0.75rem;
    outline: none;
    border: none;
    background-color: var(--white-color);
    padding: 6px;
    border-radius: 50%;
    font-size: 1.25rem;
    display: grid;
    cursor: pointer;
  }
  &__card:hover &__img {
    transform: translateY(-0.5rem);
  }
}
